@import "../../vars";

.btn{
   display: inline-block;
   background-color:$buttonColor;
   color: #fafcfe;
   flex: 0 1 100px;
   border-radius: 15px;
   height: 100%;
   position: relative;
   
   &:hover{
      background-color:$hoverButtonColor;
   }
   img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit:contain;
      padding: 5px;
   }
}

