.wrapper{
   text-align: center;
   cursor: pointer;
   transition: all .3s ease 0s;
   &:hover{
      border-color: #7094F3;
      color: #7094F3;     
   }
   &:active {
      border-color: #5372c7;
      color: #5372c7;     
   }
}



.muscleImg {
   width: 100px;
   height: 100px;
   img{
      max-width: 100% ;
   }
}