@import "../../vars";
.wrapper{
   display: flex;
   justify-content: center;
   align-items: center;
   @media (max-width:600px) {
      flex-direction: column;
      justify-content: start;
   }
}
.trigger{
   flex: 0 1 350px;
   @media (max-width:600px) {
      width: 100%;
      order: 2; 
      flex: 0 1 auto;
   }
}
.text{
   margin:0px 0px 30px 0px;
}

.btn{
   display: inline-block;
   background-color:$buttonColor;
   color: #fafcfe;
   width: 200px;
   padding: 20px 0;
   border-radius: 15px;
   &:hover{
      background-color:$hoverButtonColor;
   }
   &:active {
      background-color: $activeClickButton;
   }
}

.image{
   flex: 0 1 730px;
   height: 475px;
   position: relative;
   @media (max-width:600px) {
      width: 100%;
      order: 1;
      flex: 0 1 275px;
   }
   img{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: contain;
   }
}