@import '../../vars';
.wrapper{
   background-color: #222324;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 999;
   height: 100%;
   width: 75px;
   @media (max-width:$md3+px) {
      width: 45px;
   }
}
.logo{
   width: 50px;
   height: 50px;
   margin-bottom: 35px;
   img{
      max-width: 100%;
   }
   @media (max-width:$md3+px) {
      width: 35px;
      height: 35px;
   }
}

.navWrapper{
   display: flex;
   flex-direction: column;
   align-items: center;
   >:not(:last-child){
      margin-bottom: 20px;
   }
}

.icon{
   width: 25px;
   height: 25px;
   img{
      max-width: 100%;
   }
   @media (max-width:$md3+px) {
      width: 20px;
      height: 20px;
   }
}