// Colors

$textColor : #D2D2D2;
$buttonColor : #7094F3;
$hoverButtonColor : #5778d1;
$buttonFontColor : #FAFCFE;
$activeClickButton : #5372c7;

// breackpoints

$md1: 1440 + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
