.results {
   margin: 15px 0px;
   &__items{
      display: flex; 
      text-align: center;
      justify-content: space-between;
   }
   &__item{
      margin-right: 15px;
      p{
         margin-bottom: 5px;
      }
   }
}